.banner{
    background-image: url('../assets/habitacion1.2.jpg');
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    padding: 25%;
}

.banner::after{
    content: '';
    background-color: black;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.letra{
    color: white;
}