.banner{
    background-image: url('../assets/banner.jpeg');
    padding: 26%;
    position: relative;
    z-index: 1;
}

.banner::after{
    content: '';
    background-color: black;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}